In [73]:
import pandas as pd
import sklearn
import random
from random import sample

In [2]:
file_path = 'food_data/fdc_data/food.csv'
df = pd.read_csv(file_path)

In [4]:
df[df['food_category_id']==11]

,fdc_id,data_type,description,food_category_id,publication_date
536,320413,sample_food,"TOMATOES, GRAPE",11.0,2019-04-01
537,320414,market_acquisition,"TOMATOES, GRAPE",11.0,2019-04-01
538,320415,market_acquisition,"TOMATOES, GRAPE",11.0,2019-04-01
539,320416,sub_sample_food,"TOMATOES, GRAPE",11.0,2019-04-01
540,320417,sub_sample_food,"TOMATOES, GRAPE",11.0,2019-04-01
...,...,...,...,...,...
52948,2514738,sub_sample_food,cassava flour,11.0,2023-04-20
52949,2514739,sub_sample_food,cassava flour,11.0,2023-04-20
52950,2514740,sub_sample_food,cassava flour,11.0,2023-04-20
52951,2514741,sub_sample_food,cassava flour,11.0,2023-04-20
52952,2514742,sub_sample_food,cassava flour,11.0,2023-04-20

In [69]:
foods = pd.DataFrame(columns=df.columns)
cat = -1 

for index, row in df.iterrows():
    row[2] = str(row[2])
    if row[2].split(',')[:2] not in foods['description'].to_list() and row[1]=='sample_food':
        row[2] = row[2].split(',')[:2]
        foods = pd.concat([foods, pd.DataFrame([row])],ignore_index=True)
    ##print(row[3])
foods.tail()

,fdc_id,data_type,description,food_category_id,publication_date
396,2515464,sample_food,"[pistachio nuts, raw]",12.0,2023-04-20
397,2515480,sample_food,"[sunflower seed kernels, raw]",12.0,2023-04-20
398,2515496,sample_food,[coconut flour],12.0,2023-04-20
399,2515512,sample_food,"[peanuts, raw]",16.0,2023-04-20
400,2515528,sample_food,[chestnut flour],12.0,2023-04-20

In [62]:
foods[foods['food_category_id']==25].head()
#1: dairy products
#2: condiments
#4: oil
#5: white meats
#6: sauce
#7: processed meats (hotdogs, sausage .etc)
#9: fruit product
#10: cured meats
#11: vegetables
#12: nuts
#13: red meats
#14: vegan dairy products
#15: fish
#16: bean products
#18: bread
#19: sugar
#20: flour
#25 restuarant packaged food

,fdc_id,data_type,description,food_category_id,publication_date
1157,334248,sample_food,"[Sweet And Sour Pork, Chinese restaurant (IN1]",25.0,2019-04-01
1158,334249,market_acquisition,"[Sweet And Sour Pork (pork only), Keilly Chin...",25.0,2019-04-01
1159,334250,market_acquisition,"[Sweet And Sour Pork (sauce only), Keilly Chi...",25.0,2019-04-01
1160,334251,market_acquisition,"[Sweet And Sour Pork (sauce included in bag), ...",25.0,2019-04-01
1161,334252,sub_sample_food,"[Niacin, Sweet And Sour Pork]",25.0,2019-04-01

In [204]:
def generate_bin(batch, dim):
    #[0]!!!!!!!!!
    output = []
    for i in range(batch):
        values = [random.choice([0, 1]) for j in range(dim)]
        output.append(values)
    return output

In [96]:
columns = foods['description']
data = pd.DataFrame(columns=columns)
foods = foods[foods['food_category_id'].isna()==False]

In [228]:
def generate_user_sample(foods, num_feature):
    num_cat = len(foods['food_category_id'].unique())
    new = []
    features = pd.Series(foods['food_category_id'].unique())
    #print(features)
    
    # Generate random binary values for allergies
    allergies = generate_bin(1, num_feature)
    
    # Generate random binary values for general preferences
    general_pref = pd.Series(generate_bin(1, num_cat)[0])

    # Ensure each category ID corresponds to one value in general_pref
    cat_pref = pd.concat([features, general_pref], axis=1)
    for row in foods.iterrows():
        print(row)

In [232]:
generate_user_sample(foods, 400)

IndexError: tuple index out of range

In [97]:
foods.info()

<class 'pandas.core.frame.DataFrame'>
Index: 398 entries, 0 to 400
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fdc_id            398 non-null    object
 1   data_type         398 non-null    object
 2   description       398 non-null    object
 3   food_category_id  398 non-null    float64
 4   publication_date  398 non-null    object
dtypes: float64(1), object(4)
memory usage: 18.7+ KB